* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #ededed; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #636363;
  border: solid 0.5px #969695;
    border-radius: 0;
  height: 51px;
  width: 100%; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #636363; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #636363; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #636363; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #636363; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

textarea {
  padding: 18px 21px;
  height: 167px; }

label {
  width: 100%;
  display: block;
  margin: 0 0 30px; }

button {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: none;
    border-radius: 0; }
  button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px;
  border: none;
    border-radius: 0; }
  .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-icon {
  margin: 0 0 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-red {
  background: #d63417;
  color: #fff; }
  .btn-red:hover {
    background: red;
    color: #fff; }

.btn-black {
  background: #1d1d1b;
  font-size: 18px;
  color: #fff; }
  .btn-black:hover {
    background: #d63417;
    color: #fff; }

.bg-red {
  background: #d63417; }

.btn-white {
  background: #fff;
  color: #1d1d1b;
  font-size: 20px;
  font-weight: bold; }
  .btn-white:hover {
    background: #d63417;
    color: #fff; }
    .btn-white:hover .btn-icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 59px;
  height: 31px;
  cursor: pointer;
  margin: 0 40px 0 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 1.8px;
    background: #fff;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    position: absolute;
    right: 0;
    top: 0; }
    .btn-burger span:last-child {
      width: 41px;
      margin: 0;
      top: auto;
      bottom: 0; }
    .btn-burger span:nth-child(2) {
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      top: 50%; }
  .btn-burger:hover span {
    background: #d63417; }

.btn-burger.click span {
  position: absolute;
  left: 34px;
  top: 0;
  width: 1px;
  height: 34px; }
  .btn-burger.click span:nth-child(2) {
    width: 0;
    height: 0; }
  .btn-burger.click span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-burger.click span:last-child {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.bg-black {
  background: #1d1d1b; }

.text-decoration {
  text-decoration: underline; }

.color-white {
  color: #fff; }

.color-red {
  color: #d63417; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.logo {
  max-width: 370px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 0; }

.btn-key {
  margin: 0 34px 0 30px;
  padding: 11px 22px 12px 24px; }
  .btn-key .btn-icon {
    border-radius: 50%;
    background: #fff;
    width: 32px;
    height: 32px;
    min-width: 32px; }

.btn-phone {
  border: solid 0.5px #969695;
  color: #fff;
  padding: 11px 26px 12px 29px; }
  .btn-phone .btn-icon {
    width: 32px;
    height: 32px;
    min-width: 32px;
    margin: 0 0 0 15px;
    background: #d63417;
    border-radius: 50%; }
  .btn-phone:hover {
    background: #fff;
    color: #d63417; }

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 67px;
  width: 100%; }

h2 {
  font-size: 56px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto; }

.title-decor {
  position: relative;
  padding: 0 24px 0 0; }
  .title-decor:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%; }

.box-text {
  font-size: 15px;
  line-height: 1.33; }
  .box-text p {
    margin: 0 0 25px; }
    .box-text p:last-child {
      margin: 0; }

.container {
  max-width: 1200px; }

header {
  padding: 44px 0 33px;
  position: relative; }
  header .container {
    position: relative; }
    header .container:before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      background: url("../img/decor1.png") no-repeat center;
        background-size: 100%;
      right: -18px;
      top: -29px; }

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 3;
  width: 100%;
  background: #1d1d1b;
  color: #fff;
  padding: 50px 0 65px; }
  .mobile-menu .container:before {
    display: none; }

.menu-list {
  font-size: 31px; }
  .menu-list li {
    margin: 0 0 18px; }
    .menu-list li:last-child {
      margin: 0; }
    .menu-list li a {
      color: #fff; }
      .menu-list li a:hover {
        color: #d63417; }
    .menu-list li .links-logo {
      color: #d63417;
      text-decoration: underline;
      font-weight: bold; }

.category-section {
  padding: 53px 0; }

.category-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: solid 0.5px #6f6f6f;
  height: 75px;
  width: 50%;
  font-size: 29px;
  font-weight: bold;
  color: #000; }
  .category-links:hover {
    color: #d63417; }

.home {
  position: relative;
  background: url("../img/bg1.jpg") no-repeat center;
    background-size: cover;
  z-index: 1;
  color: #fff;
  padding: 432px 0 70px; }
  .home:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
    z-index: -1; }
  .home .bullets {
    margin: 36px 0 0; }

.mouse {
  margin: 111px 30px 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.security {
  position: relative;
  background: url("../img/bg2.png") no-repeat center;
    background-size: cover;
  z-index: 1;
  color: #fff;
  padding: 497px 0 70px; }
  .security:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
    z-index: -1; }
  .security .btn {
    margin: 56px auto 0;
    font-size: 31px;
    height: 86px;
    width: 100%;
    max-width: 494px; }

.bullets {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 78px auto 0; }

.bullet-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 19px 0 0;
  opacity: .5;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }
  .bullet-item:hover {
    opacity: 1; }
  .bullet-item:last-child {
    margin: 0; }
  .bullet-item:first-child {
    opacity: 1; }

.presentation {
  padding: 74px 0 67px; }
  .presentation .btn {
    margin: 0 0 0 auto;
    padding: 20px 23px;
    font-size: 20px; }
    .presentation .btn .btn-icon {
      min-width: 26px;
      margin: 0 0 0 40px; }
  .presentation .box-text {
    max-width: 600px;
    width: 100%; }

.house {
  padding: 110px 0 130px; }
  .house h2 {
    padding: 0 0 40px 40px; }
  .house .box-text {
    color: #1d1d1b;
    position: relative;
    padding: 28px 34px 0 0;
    margin: 0 0 73px;
    line-height: 1.93; }
    .house .box-text:before {
      content: '';
      position: absolute;
      right: 0;
      width: 33px;
      height: 34px;
      top: 0;
      background: url("../img/decor2.png") no-repeat center;
        background-size: 100%; }

.house-img {
  min-width: 844px;
  width: 100%;
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right; }

.form-callback {
  border: solid 1px #1d1d1b;
  padding: 42px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-callback label {
    width: 48%; }
  .form-callback button {
    width: 48%;
    height: 62px; }
    .form-callback button .btn-icon {
      margin: 0 0 0 35px; }

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d1d1b;
  font-size: 10px;
  margin: 0; }

.inp-check {
  display: none; }

.checkbox-custom {
  margin: 0 14px 0 0;
  width: 22px;
  min-width: 22px;
  height: 22px;
  background: #d63417;
  cursor: pointer;
  position: relative; }
  .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 15px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.inp-check:checked + .checkbox-custom:before {
  background: url("../img/tick.svg") no-repeat center;
    background-size: 100%; }

.mobile-application {
  padding: 0 0 88px;
  position: relative; }
  .mobile-application__content {
    padding: 80px 0 0; }
  .mobile-application .box-text {
    max-width: 586px;
    width: 100%;
    padding: 0 0 0 100px; }
  .mobile-application h2 {
    padding: 0 0 0 100px;
    margin: 0 0 25px; }

.mobile-application__img {
  position: relative;
  z-index: 1;
  margin: -45px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mobile-application__img:before {
    content: '';
    position: absolute;
    background: url("../img/shadow.png") no-repeat center;
      background-size: cover;
    width: 1052px;
    height: 717px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1; }

.mobile-application__box {
  margin: 76px auto 0;
  max-width: 619px;
  width: 100%;
  border: solid 0.5px #969695;
  padding: 30px 33px 30px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2; }
  .mobile-application__box h3 {
    max-width: 237px;
    font-size: 18px;
    margin: 0 auto 0 0; }
    .mobile-application__box h3 strong {
      display: block;
      font-weight: bold; }

.link-application {
  margin: 0 0 0 17px; }

.contacts {
  padding: 77px 0 90px; }

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
  background: #fff;
  margin: 0 0 0 auto;
  padding: 43px 30px 25px; }
  .contacts-form label {
    margin: 0 0 15px;
    width: 100%; }
  .contacts-form .checkbox {
    margin: 0; }
  .contacts-form input {
    font-size: 14.5px;
    height: 46px; }
  .contacts-form textarea {
    font-size: 14.5px; }
  .contacts-form button {
    width: 100%;
    font-size: 16.5px;
    height: 56px; }

.contacts-form__col {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contacts-box {
  max-width: 534px;
  width: 100%; }
  .contacts-box a {
    color: #fff; }
  .contacts-box__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0 0; }
  .contacts-box__body {
    padding: 20px 0 27px;
    margin: 45px 0 30px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.address {
  line-height: 1.06;
  max-width: 276px;
  font-size: 18px; }

.links-map {
  font-size: 17px;
  font-weight: bold; }

.phone-my {
  font-size: 29px;
  font-weight: bold; }

.btn-call {
  font-size: 14px;
  padding: 10px 21px;
  margin: 0 0 0 auto; }
  .btn-call .btn-icon {
    border-radius: 50%;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin: 0 0 0 14px; }

.mail {
  font-size: 20px;
  font-weight: bold; }

.modal-backdrop {
  opacity: .5;
  background: #1d1d1b; }

.modal-dialog {
  max-width: 1030px; }

.modal-content {
  padding: 64px 65px 83px;
  border: none;
    border-radius: 0; }

.modal-header {
  padding: 0;
  border: none;
  margin: 0 0 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .modal-header .close {
    position: absolute;
    margin: 0 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    opacity: 1;
    top: 35px;
    right: 37px; }
    .modal-header .close span {
      position: absolute;
      width: 1px;
      height: 100%;
      background: #232323;
      display: block;
      top: 0;
      left: 12px; }
      .modal-header .close span:first-child {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .modal-header .close span:last-child {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg); }

.modal-title {
  font-size: 27px;
  font-weight: bold;
  color: #d63417; }

.modal-body {
  padding: 0; }

.form-modal {
  max-width: 860px;
  margin: 0 auto;
  padding: 0; }
  .form-modal label {
    margin: 0 0 28px; }
  .form-modal input {
    height: 71px;
    font-size: 12px;
    padding: 38px 27px 10px;
    color: #1d1d1b;
    border: solid 1px #232323; }
    .form-modal input::-webkit-input-placeholder {
      color: #1d1d1b; }
    .form-modal input::-moz-placeholder {
      color: #1d1d1b; }
    .form-modal input::-ms-input-placeholder {
      color: #1d1d1b; }
    .form-modal input::placeholder {
      color: #1d1d1b; }
  .form-modal textarea {
    height: 71px;
    color: #1d1d1b;
    border: solid 1px #232323;
    padding: 38px 27px 10px;
    font-size: 12px; }
    .form-modal textarea::-webkit-input-placeholder {
      color: #1d1d1b; }
    .form-modal textarea::-moz-placeholder {
      color: #1d1d1b; }
    .form-modal textarea::-ms-input-placeholder {
      color: #1d1d1b; }
    .form-modal textarea::placeholder {
      color: #1d1d1b; }
  .form-modal .btn {
    max-width: 311px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 35px;
    height: 54px; }
  .form-modal button {
    margin: 0 0 0 auto; }
  .form-modal .checkbox {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.necessarily {
  margin: 0 0 45px;
  color: #d63417;
  font-size: 12px; }

.label-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }

.input-file {
  display: none; }

.main-house {
  padding: 0 0 74px; }
  .main-house h1 {
    margin: 226px auto 0; }

.breadcrumbs {
  margin: 44px 0; }

.breadcrumb {
  background: transparent;
  padding: 0;
  border: none;
    border-radius: 0;
  font-size: 19px; }
  .breadcrumb li a {
    color: #fff; }
    .breadcrumb li a:after {
      content: '/';
      margin: 0 5px;
      display: inline-block; }
  .breadcrumb .active {
    color: #fff;
    font-weight: bold; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding: 0; }
    .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      display: none; }

.breadcrumb.color-black li a {
  color: #1d1d1b; }

.breadcrumb.color-black .active {
  color: #1d1d1b; }

.comfort {
  padding: 70px 0 49px; }
  .comfort .box-text {
    font-size: 15px;
    margin: 27px 0 0;
    max-width: 461px;
    width: 100%; }
  .comfort h2 {
    padding: 0 157px 0 0;
    position: relative; }
    .comfort h2:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 33px;
      height: 34px;
      background: url("../img/decor1.png") no-repeat center;
        background-size: 100%; }

.system-section h2 {
  padding: 0; }
  .system-section h2 span {
    display: block; }

.system-section .box-text {
  padding: 0;
  line-height: 1.93; }

.calculate {
  padding: 79px 0 87px;
  position: relative; }
  .calculate:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 4px;
    max-width: 1200px;
    width: calc(100% - 30px);
    background: #fff; }
  .calculate .btn {
    max-width: 500px;
    width: 100%;
    margin: 0 0 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 29px;
    height: 89px;
    padding: 0 40px; }

.page-documents {
  padding: 0 0 113px; }
  .page-documents .breadcrumbs {
    margin: 44px 0 70px; }

.documents-btn {
  width: 100%;
  text-align: left;
  padding: 0 34px 0 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 77px; }

.career-btn:hover .btn-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.main-for-home {
  background: url("../img/bg-home.jpg") no-repeat center;
    background-size: cover;
  padding: 0 0 116px; }
  .main-for-home h1 {
    margin: 106px 0 32px auto;
    text-align: left;
    max-width: 810px; }
    .main-for-home h1 span {
      display: block; }
  .main-for-home .box-text {
    max-width: 682px;
    width: 100%;
    margin: 0 0 0 auto;
    line-height: 1.93;
    font-size: 15px; }
    .main-for-home .box-text p {
      margin: 0; }

.phone-my-style {
  color: #d63417;
  font-size: 115px;
  font-weight: bold;
  line-height: 1.04; }
  .phone-my-style:hover {
    color: #d63417; }

.details-information {
  padding: 21px 0 95px; }
  .details-information .mobile-application__img {
    margin: 0; }
    .details-information .mobile-application__img:before {
      display: none; }
  .details-information h2 {
    margin: 0 0 54px; }
  .details-information .mobile-application__content {
    padding: 0; }

.advantages {
  padding: 85px 0 20px; }

.advantages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantages-box {
  text-align: center;
  margin: 0 0 72px;
  position: relative;
  width: 33.333%;
  font-size: 17px;
  font-weight: bold;
  padding: 26px 0 0; }
  .advantages-box:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 26px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 11px; }

.main-for-business {
  background: url("../img/business-bg.jpg") no-repeat center;
    background-size: cover; }

.goals:nth-child(even) .goals-img {
  float: left;
  margin: 0 0 0 -15px; }

.goals:nth-child(even) .goals-content {
  padding: 100px 30px 80px 39px; }
  .goals:nth-child(even) .goals-content:before {
    right: auto;
    left: 0;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }

.goals-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 100px 0 80px 64px;
  position: relative; }
  .goals-content:before {
    content: '';
    position: absolute;
    right: 0;
    top: 90px;
    width: 33px;
    height: 34px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%; }
  .goals-content .box-text {
    line-height: 1.67;
    font-size: 15px; }
  .goals-content h2 {
    margin: 0 0 40px; }

.goals-img {
  height: 100%;
  min-width: 961px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  margin: 0 -15px 0 0; }
  .goals-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.main-about {
  background: url("../img/about-bg.jpg") no-repeat center;
    background-size: cover;
  padding: 0 0 124px; }

.goals-about:nth-child(even) .goals-img {
  float: right; }

.goals-about:nth-child(even) .goals-content {
  padding: 0 0 0 33px; }
  .goals-about:nth-child(even) .goals-content:before {
    left: auto;
    right: 0;
    -webkit-transform: none;
            transform: none; }

.goals-about .goals-content {
  padding: 0 0 33px; }
  .goals-about .goals-content:before {
    top: 0; }

.goals-about .goals-img {
  margin: 0; }

.goals-about h2 {
  margin: 0 0 19px; }

.attention {
  padding: 10px 0 63px; }
  .attention .box-text {
    line-height: 1.67; }

.attention-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 330px;
  width: 100%;
  margin: 0 0 0 auto; }
  .attention-img img {
    width: 100%; }

.call-center {
  padding: 42px 0 0; }
  .call-center .attention-img {
    max-width: 309px;
    margin: 0 auto 0 0; }

.call-center__content {
  margin: 0 0 0 -40px; }
  .call-center__content h2 {
    margin: 0 0 33px; }

.division {
  padding: 52px 0 20px; }
  .division h2 {
    text-align: left;
    margin: 0 0 50px; }
  .division .advantages-box {
    width: 100%;
    margin: 0 0 84px; }
  .division h3 {
    font-size: 50px;
    font-weight: bold; }
    .division h3 span {
      display: block; }

.call-center-img {
  min-width: 945px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.call-center__info {
  position: relative;
  padding: 34px 0 0; }
  .call-center__info h3 {
    font-weight: bold;
    font-size: 33px;
    margin: 22px 0 0; }
  .call-center__info:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
    height: 34px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%; }

.security-section {
  padding: 50px 0 88px; }
  .security-section h2 {
    margin: 0 0 15px; }
  .security-section .box-text {
    line-height: 1.67; }

.security-section-img {
  max-width: 364px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px 0 0; }

.clients-section h2 {
  margin: 0 0 40px; }

.clients-section .box-text {
  line-height: 1.67; }

.clients-section-img {
  min-width: 942px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.response-team {
  padding: 73px 0 75px; }
  .response-team h2 {
    padding: 0 35px 0 0;
    margin: 0 0 17px;
    position: relative; }
    .response-team h2 span {
      display: block;
      max-width: 800px; }
    .response-team h2:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 33px;
      height: 34px;
      background: url("../img/decor1.png") no-repeat center;
        background-size: 100%; }
  .response-team .box-text {
    line-height: 1.67;
    max-width: 753px;
    width: 100%;
    margin: 0 0 0 auto; }

.main-services {
  background: url("../img/services-bg.jpg") no-repeat center;
    background-size: cover;
  padding: 0 0 153px; }
  .main-services h1 {
    margin: 29px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    width: 100%;
    border-bottom: 3px solid #fff;
    padding: 0 0 70px; }
    .main-services h1 img {
      margin: 0 0 0 151px; }

.subtitle {
  margin: 89px auto 0;
  max-width: 800px;
  width: 100%; }
  .subtitle h3 {
    font-size: 57px;
    font-weight: bold; }
  .subtitle span {
    display: block; }

.intercom {
  padding: 88px 0 68px; }
  .intercom .goals-content {
    padding: 54px 0 0; }
  .intercom .goals-img {
    min-width: 844px; }

.category-services {
  margin: 0 0 60px; }
  .category-services-box {
    height: 100%;
    width: 100%;
    border: solid 1px #232323;
    padding: 60px 55px 45px 48px; }
  .category-services h3 {
    font-size: 33px;
    font-weight: bold;
    margin: 0 0 32px;
    max-width: 380px; }
  .category-services .box-text {
    line-height: 1.93; }

.control-system .mobile-application__content, .control-system h2, .control-system .box-text {
  padding: 0; }

.control-system h2 span {
  display: block; }

.control-system .box-text {
  line-height: 1.93;
  max-width: none; }

.electronic-tags {
  padding: 38px 0 79px; }
  .electronic-tags h2 {
    margin: 0 0 42px; }
  .electronic-tags .box-text {
    line-height: 1.93; }

.electronic-tags-img {
  min-width: 821px;
  float: right; }
  .electronic-tags-img img {
    width: 100%; }

.step-services {
  padding: 89px 0 90px;
  background: url("../img/services-bg2.jpg") no-repeat center;
    background-size: cover; }
  .step-services h2 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 3px solid #fff;
    padding: 0 0 70px;
    width: 100%; }
    .step-services h2 img {
      margin: 0 0 0 107px; }
  .step-services .box-text {
    line-height: 1.38;
    margin: 26px 0 0;
    max-width: 760px;
    width: 100%;
    font-size: 21px; }

.virtual-concierge {
  padding: 60px 0 80px; }

.step-services3 {
  background: url("../img/services-bg3.jpg") no-repeat center;
    background-size: cover; }
  .step-services3 span {
    display: inline; }

.group-patrol {
  padding: 86px 0 20px; }
  .group-patrol h2 {
    width: 100%;
    text-align: left;
    border-right: 4px solid #fff; }
    .group-patrol h2 span {
      display: block; }
  .group-patrol .text {
    font-size: 26px;
    line-height: 1.31;
    max-width: 485px;
    width: 100%;
    padding: 0 0 0 50px; }

.system-video {
  padding: 36px 0 94px; }
  .system-video h2 {
    margin: 0 0 39px; }

.system-video-img {
  position: relative;
  z-index: 1; }
  .system-video-img:before {
    content: '';
    position: absolute;
    background: #d63417;
    width: 821px;
    height: 177px;
    bottom: 40px;
    right: 120px;
    z-index: -1; }

.advantages-services {
  padding: 54px 0; }

.advantages-services-box {
  position: relative;
  padding: 50px 0 0 70px;
  margin: 0 0 50px; }
  .advantages-services-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
  .advantages-services-box .box-text {
    font-size: 16px;
    line-height: 1.38; }
  .advantages-services-box h3 {
    font-weight: bold;
    font-size: 25px;
    margin: 23px 0 20px;
    min-height: 100px; }
  .advantages-services-box__icon {
    margin: 0 0 0 20px; }

.step-services4 {
  background: url("../img/services-bg4.jpg") no-repeat center;
    background-size: cover; }

.important-section {
  padding: 28px 0 17px; }
  .important-section h2 {
    margin: 0 0 119px;
    max-width: none;
    width: 100%; }
    .important-section h2 span {
      display: block; }
    .important-section h2 .text {
      font-size: 47px;
      max-width: 1000px;
      margin: 0 0 0 auto;
      width: 100%; }

.important-section-wrapper {
  position: relative; }

.important-section-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -90px;
  z-index: 1; }

.important-section-box {
  height: 100%;
  width: 100%;
  border: solid 1px #232323;
  padding: 60px 40px 60px 50px;
  font-weight: bold;
  font-size: 20px; }

.advantages-services-two .box-text {
  font-size: 20px;
  font-weight: bold;
  margin: 29px 0 0; }

.advantages-services-two .advantages-services-box__icon {
  height: 96px; }
  .advantages-services-two .advantages-services-box__icon img {
    max-height: 100%; }

.around-the-clock {
  padding: 95px 0; }
  .around-the-clock h2 {
    text-align: center;
    margin: 0 auto; }

.systems-security {
  padding: 108px 0 80px; }
  .systems-security h2 {
    text-align: center;
    margin: 0 auto 42px; }

.systems-security-box {
  position: relative;
  padding: 60px 0 0 50px; }
  .systems-security-box h3 {
    font-size: 57px;
    font-weight: bold;
    margin: 0 0 26px; }
  .systems-security-box .box-text {
    font-size: 16px;
    line-height: 1.38; }
  .systems-security-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }

.total-calculate {
  border: solid 1px #1d1d1b;
  background: #fff;
  padding: 67px 70px; }
  .total-calculate__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 76px;
    position: relative;
    z-index: 1; }
    .total-calculate__top:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 10px;
      height: 2px;
      width: 100%;
      background: #1d1d1b;
      z-index: -1; }
  .total-calculate h2 {
    margin: 0;
    text-align: left;
    width: auto;
    background: #fff; }
  .total-calculate__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .total-calculate__body label {
      max-width: 300px;
      margin: 0 30px 0 0; }
    .total-calculate__body input {
      border: solid 1px #1d1d1b;
      height: 56px;
      padding: 34px 19px 13px;
      font-size: 9px; }
      .total-calculate__body input::-webkit-input-placeholder {
        color: #1d1d1b; }
      .total-calculate__body input::-moz-placeholder {
        color: #1d1d1b; }
      .total-calculate__body input::-ms-input-placeholder {
        color: #1d1d1b; }
      .total-calculate__body input::placeholder {
        color: #1d1d1b; }
  .total-calculate button {
    max-width: 330px;
    width: 100%;
    height: 56px;
    margin: 0 0 0 auto; }

.total-val {
  font-weight: bold;
  font-size: 57px;
  color: #d63417;
  background: #fff; }

.product-card {
  width: 100%;
  border: solid 1px #1d1d1b;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .product-card__img {
    width: 185px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 42px 35px 35px; }
  .product-card__body {
    padding: 36px 29px;
    width: calc(100% - 185px); }
  .product-card__price {
    font-size: 31px;
    font-weight: bold; }
  .product-card__title {
    font-weight: bold;
    margin: 19px 0 22px;
    font-size: 13px; }
  .product-card__bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.btn-card {
  max-width: 174px;
  width: 100%;
  height: 39px;
  border: solid 1px #1d1d1b;
  color: #1d1d1b;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px 0 28px; }
  .btn-card:after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 14px;
    height: 14px;
    background: #d63417; }
  .btn-card:hover {
    background: #d63417;
    color: #fff; }
    .btn-card:hover:after {
      background: #fff; }

.product-card__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .product-card__amount p {
    margin: 0 0 6px;
    color: #1d1d1b;
    font-size: 7px; }

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .amount input {
    border: solid 1px #1d1d1b;
    background-color: #fff;
    width: 48px;
    height: 26px;
    text-align: center;
    padding: 0;
    color: #000;
    font-size: 14px;
    margin: 0 12px; }
  .amount span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #1d1d1b;
    font-size: 19px;
    cursor: pointer; }

.tariffs {
  padding: 28px 0 62px; }
  .tariffs h2 {
    margin: 0 0 37px; }

.tariffs-box {
  background: #ededed;
  color: #1d1d1b;
  height: 100%; }
  .tariffs-box__title {
    width: 100%;
    background: #d63417;
    color: #fff;
    padding: 30px 10px; }
    .tariffs-box__title h3 {
      text-align: center;
      font-size: 27.5px;
      font-weight: bold; }
  .tariffs-box__body {
    padding: 25px 36px 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: calc(100% - 94px); }
  .tariffs-box .btn {
    margin: 70px auto 0;
    max-width: 324px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 37px 12px 31px;
    font-size: 22px; }

.list-tariff {
  font-size: 13px;
  margin: 0 0 33px;
  width: 100%; }
  .list-tariff li {
    border-bottom: 1px solid #1d1d1b;
    padding: 21px 40px; }
    .list-tariff li:last-child {
      border: none; }

.tariffs-wrapper {
  padding: 0 70px; }

.price-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  font-weight: bold;
  font-size: 17.5px;
  z-index: 1;
  margin: auto 0 0; }
  .price-wrapper p {
    background: #ededed; }
  .price-wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background: #1d1d1b;
    z-index: -1; }

.price-val {
  font-size: 25px;
  color: #d63417;
  background: #ededed; }

.description-tariffs {
  margin: 0 auto 20px;
  font-size: 13px;
  font-weight: 500; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .logo {
    max-width: 300px; }
  .btn {
    font-size: 16px; }
  header .container:before {
    right: 15px;
    top: -20px; }
  .presentation .btn {
    font-size: 18px; }
  .phone-my {
    font-size: 22px; }
  .address {
    max-width: none; }
    .address br {
      display: none; }
  .contacts {
    padding: 40px 0 60px; }
  .goals-about:nth-child(even) .goals-content {
    padding: 0; }
  .call-center__content {
    margin: 0; }
  .total-calculate {
    padding: 30px; }
  .total-calculate__body label {
    margin: 0 auto;
    max-width: 31%; }
  .total-calculate button {
    max-width: 31%; }
  .btn-card {
    max-width: 160px;
    padding: 0 15px;
    font-size: 14px; }
  .product-card__body {
    padding: 20px; }
  .tariffs-wrapper {
    padding: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .contacts-box__body {
    margin: 30px 0;
    padding: 30px 0; }
  .contacts-box__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .contacts-box__head .btn {
      margin: 10px 0 0; }
  .mail {
    font-size: 18px; }
  .main-services h1 img, .step-services h2 img {
    margin: 0 0 0 40px;
    max-width: 100px; }
  .subtitle {
    margin: 30px 0 0; }
    .subtitle h3 {
      font-size: 40px; }
  .step-services h2, .main-services h1 {
    padding: 0 0 40px; }
  .product-card__body {
    width: calc(100% - 120px); }
  .product-card__img {
    width: 120px;
    padding: 20px; }
  .product-card__price {
    font-size: 24px; }
  .product-card__title {
    margin: 15px 0; } }

@media only screen and (max-width: 992px) {
  .logo {
    max-width: none;
    margin: 0 auto 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .btn-burger {
    position: absolute;
    right: 0;
    top: 20px; }
  header .btn {
    margin: 0 auto; }
  .category-links {
    font-size: 20px;
    height: 50px; }
  .category-section {
    padding: 30px 0; }
  .home {
    padding: 200px 0 100px; }
  .mouse {
    margin: 40px 0 0 auto; }
  .house {
    padding: 40px 0; }
    .house h2 {
      padding: 0 0 20px; }
    .house .box-text {
      margin: 30px 0; }
  .house-img {
    min-width: auto;
    margin: 0 auto; }
  .mobile-application {
    padding: 0 0 40px; }
    .mobile-application .box-text, .mobile-application h2 {
      padding: 0; }
    .mobile-application .box-text {
      max-width: none; }
  .mobile-application__content {
    padding: 40px 0 0; }
  .mobile-application__img {
    margin: 30px auto 0; }
  .presentation {
    padding: 40px 0; }
    .presentation .btn {
      margin: 20px auto 0; }
    .presentation .box-text {
      max-width: none; }
  .security {
    padding: 297px 0 70px; }
    .security h2 {
      text-align: center; }
  .contacts-form {
    margin: 30px 0 0;
    max-width: none; }
  .contacts-box {
    max-width: none; }
  .address {
    width: 100%;
    margin: 0 0 10px; }
  .menu-list {
    font-size: 24px; }
  .mobile-menu {
    padding: 30px 0; }
  .main-house {
    padding: 30px 0; }
    .main-house h1 {
      margin: 140px auto 0; }
  .calculate {
    padding: 40px 0; }
    .calculate .btn {
      margin: 30px auto 0;
      font-size: 18px;
      height: 60px;
      padding: 0 20px;
      max-width: 350px; }
      .calculate .btn .btn-icon {
        width: 30px; }
  .page-documents {
    padding: 0 0 50px; }
    .page-documents .breadcrumbs {
      margin: 30px 0 50px; }
  .documents-btn {
    padding: 0 30px;
    font-size: 16px;
    height: 65px; }
    .documents-btn .btn-icon {
      width: 20px; }
  .details-information {
    padding: 40px 0; }
    .details-information h2 {
      margin: 0 0 30px; }
    .details-information .mobile-application__img {
      margin: 30px auto 0; }
  .main-for-home h1 {
    margin: 100px 0 30px 0; }
  .goals-content {
    padding: 50px 20px; }
    .goals-content:before {
      top: 30px; }
    .goals-content h2 {
      margin: 0 0 20px; }
  .goals-img {
    min-width: auto;
    margin: 0;
    height: auto; }
  .goals:nth-child(even) .goals-img {
    margin: 0; }
  .goals:nth-child(even) .goals-content {
    padding: 50px 20px; }
  .attention-img {
    margin: 30px auto 0; }
  .goals-about:nth-child(even) .goals-content {
    padding: 0 30px 0 0; }
  .goals-about:nth-child(even) .goals-img {
    margin: 30px auto 0;
    float: none;
    height: auto; }
    .goals-about:nth-child(even) .goals-img img {
      -o-object-fit: none;
         object-fit: none;
      height: auto; }
  .division h3 {
    font-size: 40px; }
  .call-center .attention-img, .security-section-img {
    margin: 30px auto 0; }
  .call-center__info h3 {
    font-size: 26px;
    margin: 20px auto 30px; }
  .call-center-img {
    min-width: auto;
    width: 100%; }
  .response-team {
    padding: 40px 0; }
  .clients-section {
    padding: 30px 0 0; }
  .clients-section-img {
    min-width: auto;
    width: 100%;
    margin: 30px auto 0; }
  .intercom {
    padding: 40px 0; }
  .intercom .goals-content {
    padding: 30px 0 0; }
  .intercom .goals-img {
    min-width: auto;
    margin: 30px auto 0;
    float: none;
    width: 100%; }
  .control-system {
    padding: 40px 0 0; }
  .electronic-tags-img {
    min-width: auto;
    width: 100%;
    margin: 30px 0 0 -15px;
    float: none; }
  .electronic-tags {
    padding: 40px 0; }
    .electronic-tags h2 {
      margin: 0 0 30px; }
  .step-services .box-text {
    font-size: 16px; }
  .step-services h2, .main-services h1 {
    text-align: center; }
  .group-patrol {
    padding: 40px 0 30px; }
    .group-patrol h2 {
      max-width: none;
      border: none;
      margin: 0 0 20px; }
    .group-patrol .text {
      font-size: 16px;
      max-width: none;
      padding: 0;
      margin: 20px 0 0; }
  .system-video-img {
    margin: 30px auto 0; }
  .system-video {
    padding: 40px 0; }
  .advantages-services-box {
    padding: 20px 0 0 40px; }
    .advantages-services-box h3 {
      min-height: auto;
      font-size: 20px; }
  .important-section h2 {
    margin: 0 0 40px; }
    .important-section h2 .text {
      font-size: 30px; }
  .important-section-img {
    position: relative;
    margin: 20px auto;
    -webkit-transform: none;
            transform: none;
    left: 0;
    top: 0; }
  .important-section-box {
    padding: 30px;
    font-size: 16px; }
  .systems-security {
    padding: 40px 0; }
  .systems-security-box {
    padding: 40px 0 0 40px; }
    .systems-security-box h3 {
      font-size: 30px; }
    .systems-security-box .box-text {
      font-size: 15px; }
  .around-the-clock {
    padding: 60px 0; }
  .total-val {
    font-size: 40px; }
  .tariffs-box__body {
    padding: 20px; }
  .tariffs-box .btn {
    margin: 30px auto 0;
    font-size: 18px; }
  .tariffs-box__title {
    padding: 15px 10px; }
  .tariffs-box h3 {
    font-size: 24px; }
  .list-tariff li {
    padding: 20px; }
  .tariffs {
    padding: 30px 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1, h2 {
    font-size: 50px; }
  .mobile-application__box {
    margin: 40px 0 0;
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mobile-application__box h3 {
      max-width: none;
      margin: 0 auto 20px;
      width: 100%; }
  .security .btn {
    font-size: 20px;
    margin: 30px auto 0;
    padding: 10px 20px;
    height: auto; }
  .modal-content {
    padding: 30px; }
  .form-modal {
    margin: 0 auto; }
    .form-modal .checkbox {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 0 0 30px; }
    .form-modal .btn {
      margin: 0 auto 20px; }
  .necessarily {
    margin: 0 0 20px; }
  .breadcrumb {
    font-size: 16px; }
  .comfort {
    padding: 40px 0 30px; }
    .comfort h2 {
      padding: 0 60px 0 0; }
  .division h3 {
    font-size: 30px; }
  .division .advantages-box {
    margin: 0 0 40px; }
  .subtitle h3 {
    font-size: 30px; }
  .category-services-box {
    padding: 30px; }
    .category-services-box h3 {
      font-size: 24px;
      max-width: none;
      margin: 0 0 20px; }
  .total-calculate__body label {
    max-width: 100%;
    margin: 0 auto 15px; }
    .total-calculate__body label input {
      padding: 10px 20px; }
  .total-calculate button {
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px; }
  .total-val {
    font-size: 30px; }
  .total-calculate__top {
    margin: 0 0 40px; }
  .list-tariff {
    margin: 0 0 20px; }
  .price-wrapper {
    font-size: 16px; }
  .price-val {
    font-size: 22px; }
  .tariffs-box h3 {
    font-size: 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .logo img {
    max-width: 220px; }
  .btn-burger {
    width: 38px;
    height: 24px;
    top: 5px; }
    .btn-burger span {
      margin: 0 0 7px; }
      .btn-burger span:last-child {
        width: 28px; }
  header .btn {
    padding: 10px 15px;
    font-size: 12px; }
    header .btn .btn-icon {
      margin: 0 0 0 10px; }
  .btn-burger.click span {
    height: 24px;
    left: 20px; }
    .btn-burger.click span:last-child {
      width: 1px; }
  h1, h2 {
    font-size: 26px; }
  .phone-my-style {
    font-size: 40px; }
  .form-callback {
    padding: 30px; }
    .form-callback label {
      width: 100%; }
    .form-callback .checkbox {
      width: 100%; }
    .form-callback button {
      width: 100%;
      margin: 20px 0 0; }
  .link-application {
    margin: 0 auto 20px; }
    .link-application:last-child {
      margin: 0 auto; }
  .mobile-application__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px; }
  .security h2 {
    padding: 0; }
    .security h2:before {
      display: none; }
  .contacts-form {
    padding: 30px; }
  .menu-list {
    margin: 0 0 20px;
    font-size: 18px; }
    .menu-list li {
      margin: 0 0 10px; }
  .form-modal {
    padding: 0; }
    .form-modal input {
      height: 50px;
      padding: 0 20px; }
    .form-modal textarea {
      height: 100px;
      padding: 10px 20px; }
    .form-modal .btn {
      font-size: 13px;
      padding: 0 20px; }
  .modal-title {
    font-size: 22px; }
  .modal-header .close {
    right: 15px;
    top: 15px; }
  .modal-content {
    padding: 30px 20px; }
  .advantages {
    padding: 40px 0; }
  .advantages-box {
    width: 50%;
    margin: 0 0 40px;
    font-size: 15px; }
  .subtitle h3 {
    font-size: 24px; }
  .important-section h2 .text {
    font-size: 20px; }
  .advantages-services-two .box-text {
    font-size: 16px; }
  .total-val {
    font-size: 20px; }
  .total-calculate__top:before {
    display: none; } }

@media only screen and (max-width: 480px) {
  .contacts-form__col {
    width: 100%; }
  .contacts-form button {
    margin: 20px 0 0; }
  .comfort h2 {
    padding: 0; }
    .comfort h2:before {
      display: none; }
  .main-services h1 img, .step-services h2 img {
    margin: 20px auto 0; }
  .product-card__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .product-card__amount {
    margin: 0 0 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .logo {
    max-width: 120px;
    margin: 0 auto 0 0; }
    .logo img {
      max-width: none;
      width: 100%; }
  header {
    padding: 20px 0; }
    header .container:before {
      display: none; }
    header .btn {
      margin: 0 10px 0 0;
      padding: 0;
      border: none;
        border-radius: 50%; }
      header .btn .btn-text {
        display: none; }
      header .btn .btn-icon {
        margin: 0; }
  .btn-burger {
    top: 0;
    right: 0;
    position: relative;
    margin: 0 0 0 auto; }
  .category-links {
    font-size: 18px; } }

@media only screen and (max-width: 320px) {
  /**/ }
