@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .logo
    max-width: 300px

  .btn
    font-size: 16px

  header .container:before
    right: 15px
    top: -20px

  .presentation .btn
    font-size: 18px

  .phone-my
    font-size: 22px

  .address
    max-width: none
    br
      display: none

  .contacts
    padding: 40px 0 60px

  .goals-about:nth-child(even) .goals-content
    padding: 0

  .call-center__content
    margin: 0

  .total-calculate
    padding: 30px

  .total-calculate__body label
    margin: 0 auto
    max-width: 31%

  .total-calculate button
    max-width: 31%

  .btn-card
    max-width: 160px
    padding: 0 15px
    font-size: 14px

  .product-card__body
    padding: 20px

  .tariffs-wrapper
    padding: 0

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px)
  .contacts-box__body
    margin: 30px 0
    padding: 30px 0

  .contacts-box__head
    flex-direction: column
    align-items: flex-start
    .btn
      margin: 10px 0 0

  .mail
    font-size: 18px

  .main-services h1 img, .step-services h2 img
    margin: 0 0 0 40px
    max-width: 100px

  .subtitle
    margin: 30px 0 0
    h3
      font-size: 40px

  .step-services h2, .main-services h1
    padding: 0 0 40px

  .product-card__body
    width: calc(100% - 120px)

  .product-card__img
    width: 120px
    padding: 20px

  .product-card__price
    font-size: 24px

  .product-card__title
    margin: 15px 0

@media only screen and (max-width: 992px)
  .logo
    max-width: none
    margin: 0 auto 20px
    justify-content: center

  .btn-burger
    position: absolute
    right: 0
    top: 20px

  header
    .btn
      margin: 0 auto

  .category-links
    font-size: 20px
    height: 50px


  .category-section
    padding: 30px 0

  .home-slider-item
    padding: 200px 0 100px

  .mouse
    margin: 40px 0 0 auto

  .house
    padding: 40px 0
    h2
      padding: 0 0 20px
    .box-text
      margin: 30px 0


  .house-img
    min-width: auto
    margin: 0 auto

  .mobile-application
    padding: 0 0 40px
    .box-text, h2
      padding: 0
    .box-text
      max-width: none

  .mobile-application__content
    padding: 40px 0 0

  .mobile-application__img
    margin: 30px auto 0

  .presentation
    padding: 40px 0
    .btn
      margin: 20px auto 0
    .box-text
      max-width: none

  .security
    padding: 297px 0 70px

    h2
      text-align: center

  .contacts-form
    margin: 30px 0 0

    max-width: none

  .contacts-box
    max-width: none

  .address
    width: 100%
    margin: 0 0 10px

  .menu-list
    font-size: 24px

  .mobile-menu
    padding: 30px 0

  .main-house
    padding: 30px 0
    h1
      margin: 140px auto 0

  .calculate
    padding: 40px 0
    .btn
      margin: 30px auto 0
      font-size: 18px
      height: 60px
      padding: 0 20px
      max-width: 350px
      .btn-icon
        width: 30px

  .page-documents
    padding: 0 0 50px
    .breadcrumbs
      margin: 30px 0 50px

  .documents-btn
    padding: 0 30px
    font-size: 16px
    height: 65px
    .btn-icon
      width: 20px

  .details-information
    padding: 40px 0
    h2
      margin: 0 0 30px
    .mobile-application__img
      margin: 30px auto 0

  .main-for-home h1
    margin: 100px 0 30px 0

  .goals-content
    padding: 50px 20px
    &:before
      top: 30px
    h2
      margin: 0 0 20px

  .goals-img
    min-width: auto
    margin: 0
    height: auto

  .goals:nth-child(even) .goals-img
    margin: 0

  .goals:nth-child(even) .goals-content
    padding: 50px 20px

  .attention-img
    margin: 30px auto 0

  .goals-about:nth-child(even) .goals-content
    padding: 0 30px 0 0

  .goals-about:nth-child(even) .goals-img
    margin: 30px auto 0
    float: none
    height: auto
    img
      object-fit: none
      height: auto

  .division h3
    font-size: 40px

  .call-center .attention-img, .security-section-img
    margin: 30px auto 0

  .call-center__info h3
    font-size: 26px
    margin: 20px auto 30px

  .call-center-img
    min-width: auto
    width: 100%

  .response-team
    padding: 40px 0

  .clients-section
    padding: 30px 0 0

  .clients-section-img
    min-width: auto
    width: 100%
    margin: 30px auto 0

  .intercom
    padding: 40px 0

  .intercom .goals-content
    padding: 30px 0 0

  .intercom .goals-img
    min-width: auto
    margin: 30px auto 0
    float: none
    width: 100%

  .control-system
    padding: 40px 0 0

  .electronic-tags-img
    min-width: auto
    width: 100%
    margin: 30px 0 0 -15px
    float: none

  .electronic-tags
    padding: 40px 0
    h2
      margin: 0 0 30px

  .step-services .box-text
    font-size: 16px

  .step-services h2, .main-services h1
    text-align: center

  .group-patrol
    padding: 40px 0 30px
    h2
      max-width: none
      border: none
      margin: 0 0 20px
    .text
      font-size: 16px
      max-width: none
      padding: 0
      margin: 20px 0 0

  .system-video-img
    margin: 30px auto 0

  .system-video
    padding: 40px 0

  .advantages-services-box
    padding: 20px 0 0 40px
    h3
      min-height: auto
      font-size: 20px

  .important-section h2
    margin: 0 0 40px
    .text
      font-size: 30px

  .important-section-img
    position: relative
    margin: 20px auto
    transform: none
    left: 0
    top: 0

  .important-section-box
    padding: 30px
    font-size: 16px

  .systems-security
    padding: 40px 0

  .systems-security-box
    padding: 40px 0 0 40px
    h3
      font-size: 30px
    .box-text
      font-size: 15px

  .around-the-clock
    padding: 60px 0

  .total-val
    font-size: 40px

  .tariffs-box
    &__body
      padding: 20px
    .btn
      margin: 30px auto 0
      font-size: 18px
    &__title
      padding: 15px 10px
    h3
      font-size: 24px

  .list-tariff li
    padding: 20px

  .tariffs
    padding: 30px 0

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  h1, h2
    font-size: 50px

  .mobile-application__box
    margin: 40px 0 0
    padding: 30px
    align-items: center
    text-align: center
    justify-content: center
    h3
      max-width: none
      margin: 0 auto 20px
      width: 100%

  .security .btn
    font-size: 20px
    margin: 30px auto 0
    padding: 10px 20px
    height: auto

  .modal-content
    padding: 30px

  .form-modal
    margin: 0 auto
    .checkbox
      justify-content: flex-start
      margin: 0 0 30px
    .btn
      margin: 0 auto 20px

  .necessarily
    margin: 0 0 20px

  .breadcrumb
    font-size: 16px

  .comfort
    padding: 40px 0 30px
    h2
      padding: 0 60px 0 0

  .division h3
    font-size: 30px

  .division .advantages-box
    margin: 0 0 40px

  .subtitle h3
    font-size: 30px

  .category-services-box
    padding: 30px
    h3
      font-size: 24px
      max-width: none
      margin: 0 0 20px

  .total-calculate__body label
    max-width: 100%
    margin: 0 auto 15px
    input
      padding: 10px 20px

  .total-calculate button
    max-width: 300px
    margin: 0 auto
    font-size: 14px

  .total-val
    font-size: 30px

  .total-calculate__top
    margin: 0 0 40px

  .list-tariff
    margin: 0 0 20px

  .price-wrapper
    font-size: 16px

  .price-val
    font-size: 22px

  .tariffs-box h3
    font-size: 20px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .logo
    img
      max-width: 220px

  .btn-burger
    width: 38px
    height: 24px
    top: 5px
    span
      margin: 0 0 7px
      &:last-child
        width: 28px

  header .btn
    padding: 10px 15px
    font-size: 12px
    .btn-icon
      margin: 0 0 0 10px

  .btn-burger.click span
    height: 24px
    left: 20px
    &:last-child
      width: 1px


  h1, h2
    font-size: 26px

  .phone-my-style
    font-size: 40px

  .form-callback
    padding: 30px
    label
      width: 100%
    .checkbox
      width: 100%
    button
      width: 100%
      margin: 20px 0 0

  .link-application
    margin: 0 auto 20px
    &:last-child
      margin: 0 auto

  .mobile-application__box
    flex-direction: column
    align-items: center
    padding: 25px

  .security
    h2
      padding: 0
      &:before
        display: none

  .contacts-form
    padding: 30px

  .menu-list
    margin: 0 0 20px
    font-size: 18px
    li
      margin: 0 0 10px

  .form-modal
    padding: 0
    input
      height: 50px
      padding: 0 20px
    textarea
      height: 100px
      padding: 10px 20px
    .btn
      font-size: 13px
      padding: 0 20px

  .modal-title
    font-size: 22px

  .modal-header .close
    right: 15px
    top: 15px

  .modal-content
    padding: 30px 20px

  .advantages
    padding: 40px 0

  .advantages-box
    width: 50%
    margin: 0 0 40px
    font-size: 15px

  .subtitle h3
    font-size: 24px

  .important-section h2
    .text
      font-size: 20px

  .advantages-services-two .box-text
    font-size: 16px

  .total-val
    font-size: 20px

  .total-calculate__top:before
    display: none

@media only screen and (max-width: 480px)
  .contacts-form__col
    width: 100%

  .contacts-form
    button
      margin: 20px 0 0

  .comfort h2
    padding: 0
    &:before
      display: none

  .main-services h1 img, .step-services h2 img
    margin: 20px auto 0

  .product-card__bottom
    flex-direction: column
    align-items: flex-start

  .product-card__amount
    margin: 0 0 10px


/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .logo
    max-width: 120px
    margin: 0 auto 0 0
    img
      max-width: none
      width: 100%

  header
    padding: 20px 0
    .container
      &:before
        display: none
    .btn
      margin: 0 10px 0 0

      padding: 0
      border: none
        radius: 50%
      .btn-text

        display: none
      .btn-icon
        margin: 0

  .btn-burger
    top: 0
    right: 0
    position: relative
    margin: 0 0 0 auto

  .category-links
    font-size: 18px


@media screen and (max-width: 596px)
  .no-phone
    display: none

@media screen and (min-width: 596px)
  .only-phone
    display: none

@media screen and (max-width: 768px)
  .no-tablet
    display: none

@media screen and (min-width: 768px)
  .only-tablet
    display: none
